{% extends "app/base.html" %}
{% block content %}


<div class="main-wrap">
    <div class="container">
        <div class="row">
            <!-- About -->
            <div class="col-12 my-5">
                <h5 class="text-center">ABOUT</h5>
                <div class="row d-flex justify-content-center">
                    <!-- 写真 -->
                    <div class="col-12 col-md-6 px-0">
                        <img class="img-fluid" src="/images/blake-wisz-GFrBMipOd_E-unsplash.jpg" alt="">
                    </div>
                    <!-- コンセプト紹介 -->
                    <div class="col-12 col-md-5 px-0 border">
                        <div class="">
                            <p>あなたにあったヘアスタイルをご提案します。</p>
                            <div class="btn btn-outline-secondary">
                                <p>more</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}