{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div class="row main_wrap">
        <div class="col-12">
            <!-- ----- News ----- -->
            <h3 class="text-center">{{ news_data.title }}</h3>
            <hr>
            <div class="media">
                <div class="media-body">
                    <p class="">{{ news_data.content|linebreaksbr }}</p>
                </div>
                <div class="media-detail">
                    <p>投稿日時：{{ news_data.created_date }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}