{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="row main_wrap">
    <div class="col-12">
        <!-- ---------- スタイリスト一覧 ---------- -->
        <div class="row">
            <!-- タイトル -->
            <div class="col-12 my-5">
                <h2 class="text-center">スタイル一覧</h2>
            </div>

            <!-- 画像 -->
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <img class="img-fluid" src="/images/blake-wisz-GFrBMipOd_E-unsplash.jpg" alt="">
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    {% for stylist in stylist_data %}
                    <div class="col-3">
                        <div class="card">
                            <img  class="card-img-top img-fluid" style="width: 5rem; height: 5rem;" src="{{ stylist.user.image.url }}" alt="">
                            <div class="card-body">
                                <p>{{ stylist.user.position }}</p>
                                <h5>
                                    <a class="" href="{% url 'stylist_detail' stylist.id %}">{{ stylist.user.name }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}